.container {
  max-width: 100%;
  padding: 0;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.page {
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  max-width: 85%;
  font-size: calc(3em + 6vw);
  margin-bottom: 25vh;
}

span {
  text-decoration: underline var(--code-color);
  text-underline-offset: 0.2em;
}
