/* -- Variables -- */
@font-face {
  font-family: "Noto Sans SC";
  src: local("Noto Sans SC");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --transition-duration: 0.3s;
}

[data-theme="light"] {
  --bg-color: #e3e3e3;
  --color: #3c3c3c;
  --select-bg-color: #3c3c3c33;
  --font-weight: 400;
}

[data-theme="dark"] {
  --font-weight: 350;
  --bg-color: #3c3c3c;
  --color: #e3e3e3;
  --code-bg-color: #5e5e5e;
  --code-color: #e5c07b;
  --select-bg-color: #e3e3e333;
  --bd-color: #e3e3e355;
}

/* -- Base styles -- */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font: var(--font-weight) 18px / 1.6 "Noto Sans SC";
  background-color: var(--bg-color);
  color: var(--color);
  transition: background-color var(--transition-duration), color var(--transition-duration);
}

strong,
th {
  font-weight: calc(var(--font-weight) + 250);
}

/* -- Code styles -- */
code {
  background-color: var(--code-bg-color);
  padding: 1px 3px;
  border-radius: 4px;
  color: var(--code-color);
}

pre {
  background-color: #1f2020;
  padding: 1em;
  margin-bottom: 6px;
  border-radius: 8px;
  overflow-x: auto;
}

pre code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
}

/* -- Article styles -- */
.container {
  max-width: 740px;
  margin: 0 auto;
  padding: 0 20px 10vh;
  overflow-x: auto;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.3;
  margin: 48px 0 16px 0;
  padding-bottom: 8px;
  border-bottom: 4px solid var(--bd-color);
}

h3 {
  font-weight: 600;
  line-height: 1.4;
  margin: 32px 0 10px 0;
}

p {
  margin-bottom: 6px;
}

/* -- List styles -- */
ol,
ul {
  padding-left: 20px;
}

/* -- Image styles -- */
img {
  max-width: 100%;
  display: block;
  margin: 0 auto 6px;
  background-color: var(--color);
  border-radius: 6px;
}

/* -- Table styles -- */
table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 10px 0;
  overflow-x: auto;
  text-align: center;
}

table caption {
  font-style: italic;
}

th,
td {
  padding: 5px;
  border: 1px solid var(--bd-color);
}

/* -- Miscellaneous -- */
::selection {
  background-color: var(--select-bg-color);
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}
